/* global theme */
@-moz-document url-prefix("chrome:") {
    :root[lwt-newtab-brighttext] {
        --zen-colors-primary: #8f77f2 !important;
        --zen-colors-secondary: #393061 !important;
        --zen-colors-tertiary: #13121c !important;
        --zen-colors-border: #514480 !important;
        --zen-primary-color: #8f77f2 !important;
        --zen-dialog-background: #13121c !important;
    }
}

/* custom minimum, maximum, and close button */
@-moz-document url-prefix("chrome:") {
    :root[lwt-newtab-brighttext] {
        --titlebar-bg-color: #333333 !important;
    }

    :root:not([lwt-newtab-brighttext]) {
        --titlebar-bg-color: #cccccc !important;
    }

    .titlebar-buttonbox {
        margin-right: 20px;
    }

    .titlebar-button {
        padding: 7px !important;
        min-height: 15px !important;
        min-width: 15px !important;
        align-self: center;
        background-color: var(--titlebar-bg-color) !important;
        margin-left: 10px !important;
        border-radius: 50px;
        transition: all 100ms;
    }

    .titlebar-button > image {
        visibility: collapse !important;
    }

    .titlebar-button:hover {
        min-height: 25px !important;
    }

    .titlebar-min:hover {
        background-color: #15c782 !important;
    }

    .titlebar-max:hover,
    .titlebar-restore:hover {
        background-color: #fbbf24 !important;
    }

    .titlebar-close:hover {
        background-color: #fc1a70 !important;
    }
}

/* sidebar */
@-moz-document url-prefix("chrome:") {
    :root[zen-compact-mode="true"]:not([customizing]):not(
            [inDOMFullscreen="true"]
        ) {
        @media (-moz-bool-pref: "zen.view.compact.hide-tabbar") {
            &:not([zen-single-toolbar="true"]) {
                @media not (-moz-bool-pref: "zen.view.compact.hide-toolbar") {
                    /* sidebar border on compact mode */
                    #titlebar {
                        outline: 1px solid var(--zen-colors-secondary) !important;
                        background: var(--zen-colors-tertiary) !important;
                    }

                    /* reduce sidebar gap */
                    #navigator-toolbox {
                        margin-top: calc(
                            10px + var(--zen-toolbar-height)
                        ) !important;
                        margin-bottom: 10px !important;
                    }

                    #navigator-toolbox[zen-sidebar-expanded="true"] {
                        padding-left: 20px !important;
                    }

                    #navigator-toolbox[zen-sidebar-expanded="true"][zen-right-side="true"] {
                        padding-right: 20px !important;
                        padding-left: 0px !important;
                    }
                }
            }
        }

        @media (-moz-bool-pref: "zen.view.compact.hide-toolbar") or (-moz-bool-pref: "zen.view.use-single-toolbar") {
            @media (-moz-bool-pref: "zen.view.compact.hide-tabbar") {
                #titlebar {
                    outline: 1px solid var(--zen-colors-secondary) !important;
                    background: var(--zen-colors-tertiary) !important;
                }

                /* reduce sidebar gap */
                #navigator-toolbox {
                    margin-top: 10px !important;
                    margin-bottom: 10px !important;
                }

                #navigator-toolbox[zen-sidebar-expanded="true"] {
                    padding-left: 20px !important;
                }

                #navigator-toolbox[zen-sidebar-expanded="true"][zen-right-side="true"] {
                    padding-right: 20px !important;
                    padding-left: 0px !important;
                }
            }
        }

        /* align workspace indicator */
        #zen-current-workspace-indicator {
            display: flex;
            justify-content: center;
        }

        #zen-current-workspace-indicator {
            &
                #zen-current-workspace-indicator-icon:not([hidden])
                + #zen-current-workspace-indicator-name {
                padding-left: 0px !important;
            }
        }

        #zen-current-workspace-indicator-icon {
            display: none;
        }
    }

    /* remove scrollbar from sidebar */
    scrollbox:nth-child(5) {
        scrollbar-width: none !important;
    }
}

/* navigation buttons */
@-moz-document url-prefix("chrome:") {
    #back-button {
        list-style-image: url("chrome://browser/skin/back.svg") !important;
    }

    #forward-button {
        list-style-image: url("chrome://browser/skin/forward.svg") !important;
    }

    #reload-button {
        list-style-image: url("chrome://global/skin/icons/reload.svg") !important;
    }
}

/* custom bottom-left statusbar when hovering over a URL */
@-moz-document url-prefix("chrome:") {
    #statuspanel-label {
        border-top-right-radius: var(--zen-border-radius) !important;
        background-color: var(--zen-colors-tertiary) !important;
    }
}

/* floating search bar */
@-moz-document url-prefix("chrome:") {
    #urlbar {
        --toolbarbutton-border-radius: 6px !important;
        border: 1px solid var(--zen-colors-secondary) !important;
    }

    #urlbar-background {
        border: transparent !important;
        margin: 0px !important;
        box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1) !important;
    }

    #urlbar-search-mode-indicator {
        background: transparent !important;
    }

    @media not (-moz-bool-pref: "theme.cleaned_url_bar.disable_transparency") {
        #urlbar-background {
            background: color-mix(
                in srgb,
                light-dark(#fff, var(--zen-colors-tertiary)) 60%,
                transparent 60%
            ) !important;
            backdrop-filter: blur(50px) !important;
        }
    }

    @media (-moz-bool-pref: "theme.cleaned_url_bar.disable_transparency") {
        #urlbar-background {
            background: color-mix(
                in srgb,
                light-dark(#fff, var(--zen-colors-tertiary)) 100%,
                transparent 0%
            ) !important;
            backdrop-filter: blur(0px) !important;
        }
    }

    #urlbar:is([breakout][breakout-extend], [breakout][usertyping][focused]) {
        #urlbar-input {
            font-size: 16px !important;
        }

        z-index: 2;
        position: fixed !important;
        bottom: auto !important;
        top: 20vh !important;
        padding-left: 6px !important;
        padding-right: 8px !important;

        left: 18vw !important;
        right: 18vw !important;
        width: 64vw !important;

        &:after {
            content: "";
            position: fixed;
            pointer-events: none;

            width: 100vw;
            height: 100vh;

            top: 0px;
            left: 0px;

            background-color: rgba(0, 0, 0, 0.3);
            backdrop-filter: blur(5px);

            z-index: -1;
        }

        #identity-box {
            margin: auto 0;
            height: 30px;
            margin-right: 10px;
        }

        #identity-icon-box,
        #identity-permission-box {
            background: transparent !important;
            margin: 0 8px 0 0 !important;
        }

        .urlbar-go-button {
            margin: auto 0;
        }

        .urlbar-go-button:hover {
            opacity: 1 !important;
        }
    }
}

/* find bar Ctrl + f */
@-moz-document url-prefix("chrome:") {
    findbar {
        --findbar-pad: 10px;
        --fndbr-btn-wdt: 30px;
        --findbar-wdt: 50vw;

        position: fixed !important;
        z-index: 5 !important;

        bottom: 20px;
        left: 50%;
        transform: translateX(-50%) !important;

        padding-top: 40px !important;
        height: 80px !important;
        width: var(--findbar-wdt);

        /* corners, shadow */
        border: 1px solid var(--arrowpanel-background) !important;
        outline: 1px solid var(--zen-colors-secondary) !important;
        border-radius: var(--zen-border-radius);

        /* some design */
        background: var(--zen-colors-tertiary) !important;
        transition: all 0.25s ease-out !important;

        /* styles for input textbox */
        .findbar-textbox {
            position: absolute;
            top: var(--findbar-pad);
            left: var(--findbar-pad);
            width: calc(
                var(--findbar-wdt) - var(--findbar-pad) * 2.5 -
                    var(--fndbr-btn-wdt) * 3
            ) !important;
            height: 22px !important;
            border: 1px solid var(--zen-colors-border) !important;
        }

        /* put buttons to right place */
        .findbar-closebutton,
        .findbar-find-next,
        .findbar-find-previous {
            position: absolute;
            top: var(--findbar-pad);
            margin-inline-start: 0px !important;
            margin-inline-end: 0px !important;
        }

        .findbar-closebutton {
            right: var(--findbar-pad);
        }

        .findbar-find-next {
            right: calc(var(--fndbr-btn-wdt) + var(--findbar-pad) / 2);
        }

        .findbar-find-previous {
            right: calc(var(--fndbr-btn-wdt) * 2 + var(--findbar-pad) / 2);
        }

        /* rounded buttons */
        .findbar-textbox,
        .findbar-closebutton,
        .findbar-find-next,
        .findbar-find-previous {
            border-radius: 4px !important;
        }

        /* hide find status */
        .findbar-find-status {
            display: none;
        }
    }

    /* fix when findbar is hidden */
    findbar[hidden] {
        margin-bottom: unset !important;
        transition-delay: unset !important;
        visibility: visible !important;
        opacity: 0 !important;
        pointer-events: none !important;
        bottom: 0px;
    }
}

/* utils */
@-moz-document url-prefix("chrome:") {
    #zen-profile-button-icon {
        border: 1px solid var(--zen-colors-tertiary) !important;
    }

    .browserSidebarContainer {
        border: 1px solid var(--zen-colors-secondary) !important;
    }

    #translations-button {
        display: none;
    }

    #reader-mode-button {
        display: none;
    }
}
