/*global theme */
@-moz-document url-prefix("chrome:") {
    :root {
        --zen-colors-primary: #8f77f2 !important;
        --zen-colors-secondary: #393061 !important;
        --zen-colors-tertiary: #13121c !important;
        --zen-colors-border: #514480 !important;
        --zen-primary-color: #8f77f2 !important;
        --zen-dialog-background: #13121c !important;
    }
}

/* custom minimum, maximum, and close button */
@-moz-document url-prefix("chrome:") {
    .titlebar-buttonbox {
        margin-right: 20px;
    }

    .titlebar-button {
        padding: 4px !important;
        min-height: 13px !important;
        min-width: 13px !important;
        align-self: center;
        background-color: hsl(0, 0%, 20%) !important;
        border-radius: var(--zen-border-radius) !important;
        margin-left: 10px !important;
        border-radius: 50px;
        transition: all 100ms;
    }

    .titlebar-button:hover {
        min-height: 25px !important;
    }

    .titlebar-min:hover {
        background-color: hsl(130, 50%, 40%) !important;
    }

    .titlebar-max:hover,
    .titlebar-restore:hover {
        background-color: hsl(60, 50%, 50%) !important;
    }

    .titlebar-close:hover {
        background-color: hsl(0, 50%, 50%) !important;
    }

    .titlebar-button > image {
        visibility: collapse !important;
    }
}

/* custom bottom-left statusbar when hovering over a URL */
@-moz-document url-prefix("chrome:") {
    #statuspanel-label {
        border-top-right-radius: var(--zen-border-radius) !important;
        background-color: #000000 !important;
    }
}

/* floating search bar */
@-moz-document url-prefix("chrome:") {
    #urlbar:is([breakout][breakout-extend], [breakout][usertyping][focused]) {
        #urlbar-input {
            font-size: 16px !important;
        }

        z-index: 2;
        position: fixed !important;
        bottom: auto !important;
        top: 20vh !important;
        padding-left: 6px !important;
        padding-right: 8px !important;

        left: 18vw !important;
        right: 18vw !important;
        width: 64vw !important;

        &:after {
            content: "";
            position: fixed;
            pointer-events: none;

            width: 100vw;
            height: 100vh;

            top: 0px;
            left: 0px;

            background-color: rgba(0, 0, 0, 0.3);
            backdrop-filter: blur(5px);

            z-index: -1;
        }

        #identity-box {
            margin: auto 0;
            height: 30px;
            margin-right: 10px;
        }

        .urlbar-go-button {
            margin: auto 0;
        }
    }
}
