/* global theme */
@-moz-document url-prefix("chrome:") {
    :root[lwt-newtab-brighttext] {
        --zen-colors-primary: #8f77f2 !important;
        --zen-colors-secondary: #393061 !important;
        --zen-colors-tertiary: #13121c !important;
        --zen-colors-border: #514480 !important;
        --zen-primary-color: #8f77f2 !important;
        --zen-dialog-background: #13121c !important;
    }
}

/* custom minimum, maximum, and close button */
@-moz-document url-prefix("chrome:") {
    :root[lwt-newtab-brighttext] {
        --titlebar-bg-color: #333333 !important;
    }

    :root:not([lwt-newtab-brighttext]) {
        --titlebar-bg-color: #cccccc !important;
    }

    .titlebar-buttonbox {
        margin-right: 20px;
    }

    .titlebar-button {
        padding: 7px !important;
        min-height: 13px !important;
        min-width: 13px !important;
        align-self: center;
        border-radius: var(--zen-border-radius) !important;
        background-color: var(--titlebar-bg-color) !important;
        margin-left: 10px !important;
        border-radius: 50px;
        transition: all 100ms;
    }

    .titlebar-button > image {
        visibility: collapse !important;
    }

    .titlebar-button:hover {
        min-height: 25px !important;
    }

    .titlebar-min:hover {
        background-color: #15c782 !important;
    }

    .titlebar-max:hover,
    .titlebar-restore:hover {
        background-color: #fbbf24 !important;
    }

    .titlebar-close:hover {
        background-color: #fc1a70 !important;
    }
}

/* sidebar */
@-moz-document url-prefix("chrome:") {
    @media (-moz-bool-pref: "zen.view.compact") {
        /* sidebar border on compact mode */
        :root:not([customizing]):not([inDOMFullscreen="true"]) {
            @media (-moz-bool-pref: "zen.view.compact.hide-tabbar") {
                & #titlebar {
                    border: 1px solid var(--zen-colors-secondary) !important;
                }
            }
        }

        /* reduce sidebar gap in compact mode */
        #navigator-toolbox[zen-expanded="true"] {
            padding-top: 10px !important;
            padding-bottom: 10px !important;
            padding-left: 20px !important;
        }
    }

    /* remove scrollbar from sidebar */
    scrollbox:nth-child(5) {
        scrollbar-width: none !important;
    }
}

/* navigation buttons */
@-moz-document url-prefix("chrome:") {
    #back-button {
        list-style-image: url("chrome://browser/skin/back.svg") !important;
    }

    #forward-button {
        list-style-image: url("chrome://browser/skin/forward.svg") !important;
    }

    #reload-button {
        list-style-image: url("chrome://global/skin/icons/reload.svg") !important;
    }
}

/* custom bottom-left statusbar when hovering over a URL */
@-moz-document url-prefix("chrome:") {
    #statuspanel-label {
        border-top-right-radius: var(--zen-border-radius) !important;
        background-color: var(--zen-colors-tertiary) !important;
    }
}

/* floating search bar */
@-moz-document url-prefix("chrome:") {
    #urlbar {
        --toolbarbutton-border-radius: 8px !important;
        border: 1px solid var(--zen-colors-secondary) !important;
    }

    #urlbar:is([breakout][breakout-extend], [breakout][usertyping][focused]) {
        #urlbar-input {
            font-size: 16px !important;
        }

        z-index: 2;
        position: fixed !important;
        bottom: auto !important;
        top: 20vh !important;
        padding-left: 6px !important;
        padding-right: 8px !important;

        left: 18vw !important;
        right: 18vw !important;
        width: 64vw !important;

        &:after {
            content: "";
            position: fixed;
            pointer-events: none;

            width: 100vw;
            height: 100vh;

            top: 0px;
            left: 0px;

            background-color: rgba(0, 0, 0, 0.3);
            backdrop-filter: blur(5px);

            z-index: -1;
        }

        #identity-box {
            margin: auto 0;
            height: 30px;
            margin-right: 10px;
        }

        .urlbar-go-button {
            margin: auto 0;
        }
    }
}

/* find bar Ctrl + f */
@-moz-document url-prefix("chrome:") {
    findbar {
        --findbar-pad: 10px;
        --fndbr-btn-wdt: 30px;
        --findbar-wdt: 50vw;

        position: fixed !important;
        z-index: 5 !important;

        bottom: 2rem !important;
        left: 50% !important;
        transform: translateX(-50%) !important;

        padding-top: 40px !important;
        height: 80px !important;
        width: var(--findbar-wdt);

        /* corners, shadow */
        border: 1px solid var(--arrowpanel-background) !important;
        outline: 1px solid var(--zen-colors-secondary) !important;
        border-radius: var(--zen-border-radius);

        /* some design */
        background: var(--zen-colors-tertiary) !important;
        /* background: transparent !important; */
        transition: all 0.25s ease-out !important;

        /* styles for input textbox */
        .findbar-textbox {
            position: absolute;
            top: var(--findbar-pad);
            left: var(--findbar-pad);
            width: calc(
                var(--findbar-wdt) - var(--findbar-pad) * 2.5 -
                    var(--fndbr-btn-wdt) * 3
            ) !important;
            height: 22px !important;
            border: 1px solid var(--zen-colors-border) !important;
        }

        /* put buttons to right place */
        .findbar-closebutton,
        .findbar-find-next,
        .findbar-find-previous {
            position: absolute;
            top: var(--findbar-pad);
            margin-inline-start: 0px !important;
            margin-inline-end: 0px !important;
        }

        .findbar-closebutton {
            right: var(--findbar-pad);
        }

        .findbar-find-next {
            right: calc(var(--fndbr-btn-wdt) + var(--findbar-pad) / 2);
        }

        .findbar-find-previous {
            right: calc(var(--fndbr-btn-wdt) * 2 + var(--findbar-pad) / 2);
        }

        /* rounded buttons */
        .findbar-textbox,
        .findbar-closebutton,
        .findbar-find-next,
        .findbar-find-previous {
            border-radius: 4px !important;
        }

        /* hide find status */
        .findbar-find-status {
            display: none;
        }
    }
}

/* hide sidebar buttons (fixed for ver 1.0.1-a.18) */
@-moz-document url-prefix("chrome:") {
    #zen-sidepanel-button {
        display: none !important;
    }
}
